[defaults]
jinja2_native = True
become_method = sudo
collections_path = ./osac-aap/collections:./osac-aap/vendor:/usr/share/ansible/collections
collections_scan_sys_path = False

[persistent_connection]
connect_timeout = 30
command_timeout = 30
