go 1.26.3

use (
	./bare-metal-fulfillment-operator
	./fulfillment-service
	./osac-csi-driver
	./osac-metering/adapters
	./osac-metering/metering-service
	./osac-metering/schema
	./osac-operator
	./osac-operator/api
	./osac-ui/proxy
	./proto
)
